{% extends "core/base.html" %}

{% block title%} {{ title }} {% endblock %}

{% block content %} 
<a href="{% url 'news_add'%}" class="move-left btn m-2">Додати статтю</a>
    {% for post in news %}
    <div class="w-50 d-flex flex-row justify-content-start alert alert-light">
        <img class="card-author-md rounded-5 object-fit-cover m-2" src="{{post.author.profile.img.url}}" alt="{{post.author.username}}">
        

        <div class="d-flex flex-column news-user-data">
            <h2 class="fs-3">{{post.title}}</h2>
            <p>{{post.text|striptags|truncatechars:300}}</p>
            <div>
                <span class="text-muted">Опубліковано: {{post.date|date:'d E Y року в H:i'}}</span>
                <p>Автор: <mark>{{ post.author }} </mark></p>
                <a href="{% url 'news_detail' post.id %}" class="mt-2 btn btn-outline-warning">Детально</a>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="d-flex flex-low">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="{% url 'articles' %}" class="btn btn-outline-warning text-black m-2">Початок</a>
                <a href="?page={{ page_obj.previous_page_number}}" class="btn text-black btn-outline-warning m-2">Назад</a>
            {% endif%}
            
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <button class="btn btn-warning">{{num }}</button>
                {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2'%}
                <a href="?page={{ num }}" class="btn text-black btn-outline-warning m-2">{{ num }}</a>
                {% endif %}
            {% endfor %}


            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number}}" class="btn text-black btn-outline-warning m-2">Наступна</a>
                <a href="?page={{ page_obj.paginator.num_pages}}" class="btn btn-outline-warning text-black m-2">Остання</a>
            {% endif%}
        {% endif%}
    </div>
    

{% endblock %}