{% extends "core/base.html" %}

{% block title%} Про нас {% endblock %}

{% block content %} 
<h1 class="fs-2">Є що сказати? Напишіть нам!</h1>
    <div class="w-100 d-flex justify-content-center flex-column align-items-center mb-3 p-2">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form class="w-50 form-register auth" method='POST'>
        {% csrf_token %}

        {{ form.as_p }}

        <button class="mt-2 btn btn-warning" type="submit">
            Відправити
        </button>
    </form>
    </div>
        
{% endblock %}





