{% extends "core/base.html" %}

{% block title%} Видалення статті {% endblock %}

{% block content %} 
    <div class="w-100 d-flex justify-content-center flex-column align-items-center m-auto p-5">
        <a href="{% url 'articles' %}" class="move-left-but btn m-2">
            ← Назад до статей
        </a>
        <h3 class="mb-3 fs-3 text-warning-emphasis">Ви точно хочети видалити статью: "{{ object.title }}"?</h3>
        <form class="w-50 form-register auth" method='POST'>
            {% csrf_token %}
            <button class="mt-2 btn btn-danger" type="submit">Видалити</button>
            <a href="{% url 'news_detail' object.pk%}">Скасувати</a>
        </form>
        
    </div>
{% endblock %}