body{
    background-color: rgba(166, 164, 164, 0.623);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}
.item-services{
    padding: 8px;
}
.form-register{
    padding: 20px;
    background-color: rgba(214, 214, 193, 0.535);
    border: 1px solid #fafafa;
    margin-top: 20px;
    
}
.form-register.auth input{
    display: block;
    width: 90%;
    margin-top: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2%;
}

.form-register .helptext{
    color: #8f8f8f;

}
.form-register ul.errorlist{
    color: #ca5858;
    font-weight: bold;
}