{% extends "core/base.html" %}

{% block title%} Відновлення пароля {% endblock %}

{% block content %} 
    <div class="w-100 d-flex justify-content-center flex-column align-items-center m-auto p-5">
        <h1 class="mb-3 fs-1 text-warning-emphasis">Вітаємо!</h1>
        <h2>Ви отримали цей лист, тому що було зроблено запит на відновлення пароля для вашого акаунта.

        Щоб встановити новий пароль, перейдіть за посиланням:
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        Якщо ви не запитували відновлення пароля, просто проігноруйте цей лист.
        З повагою,
        Ваша команда сайту</h2>

    </div>
{% endblock %}
