{% extends "core/base.html" %}

{% block title%} Профіль користувача {% endblock %}

{% block content %} 
    <div class="w-100 d-flex justify-content-center flex-column align-items-center align-self-start m-2 p-4 dashboard">
        <h1 class="mb-3 fs-2 text-warning-emphasis">Профіль користувача</h1>
        <img src="{{user.profile.img.url}}" alt="{{user.username}}">
        <p>
            <span class="username">@{{user.username}}</span><br>
            {{user.email}}
        </p>
        <form method='POST' enctype="multipart/form-data" class="form-register mt-4">
        {% csrf_token %}
        {{update_user_form.as_p }}
        {{profile_form.as_p }}
        <button class="btn btn-warning mt-2" type="submit">Оновити</button>
    </form>
    </div>
    
{% endblock %}