{% extends "core/base.html" %}

{% block title%} Сторінка авторизації {% endblock %}

{% block content %} 
    <div class="w-100 d-flex justify-content-center flex-column align-items-center m-auto p-5">
        <h1 class="mb-3 fs-1 text-warning-emphasis">Сторінка авторизації</h1>
        <form class="w-50 form-register auth" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="mt-2 w-25 btn btn-warning" type="submit">Вхід</button>
            <hr>
            <p><a href="{% url 'reg' %}">Реєстрація в особистий профіль</a> </p>
            <p>Забули пароль?<a href="{% url 'pass_reset' %}">Відновити пароль</a> </p>
        </form>
    </div>
{% endblock %}